.category {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 320px));

  justify-content: center;
  gap: 16px;
  margin-top: 80px;
}

#pricecolor {
  color: green;
  font-size: 19px;
}
#oldprice {
  text-decoration: line-through;
  color: lightgrey;
}

.child {
  border: 1px solid slategray;
  padding: 15px;
  border-radius: 15px;
  transition: transform 0.3s ease;
  box-shadow: 0px 2px 5px black;
  img {
    width: 100%;
  }
  p {
    font-weight: 700;
  }
}
.child:hover {
  transform: scale(1.1);
}

#button {
  width: 50px;
  box-shadow: 0px 2px 2px black;
  color: green;
}

@media screen and (max-width: 360px) {
  .category {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));

    font-size: 25px;
  }
  #nameProduct {
    font-size: 20px;
  }
  #numbertext {
    font-size: 200px;
  }
  #imageInput {
    font-size: 18px;
  }
  #addButton {
    font-size: 18px;
  }
}

@media screen and (min-width: 360px) and (max-width: 480px) {
  .category {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));

    font-size: 25px;
  }
}
